*.3mf
*.stl
*.swp
config/backups/
config/log/
config/org.openpnp.vision.pipeline.stages.ImageWriteDebug/
config/org.openpnp.machine.reference.ReferenceNozzleTipCalibration/
config/snapshots/
config/*.tmp
config/*.bak
config/*.xml.bak*
config/*.lck
